@import '../../global/global.scss';

.Stories {
  background-color: $white;
  padding: 36px 32px 72px;
  .carousel {
    margin-top: -20px;
    z-index: 1;
  }
  .story {
    img {
      display: block;
      margin-bottom: 32px;
      width: 100%;
    }
    &__descr {
      padding: 30px 32px;
      background-color: $darkBlue;
      margin-bottom: 32px;
      color: $white;
      font-size: 22px;
      line-height: 1.2em;
      @extend %font__normal--bold;
      text-align: center;
    }
    &__preview {
      margin-bottom: 16px;
    }
  }
  .carousel-indicators {
    bottom: -13px;
  }
  .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid $darkBlue;
    background-color: $white;
  }
  .carousel-indicators .active {
    background-color: $darkBlue;
  }
}

@media (min-width: 768px) {
  .Stories {
    padding: 47px 64px 76px;
    .story {
      margin: 0 auto;
      img {
        max-width: 576px;
        margin-bottom: 0;
        z-index: 1;
        position: relative;
      }
      &__descr {
        margin-top: -64px;
        z-index: 2;
        position: relative;
        max-width: 576px;
        padding: 64px 32px 64px 64px;
        transform: translateX(64px);
        text-align: left;
      }
      &__preview {
        margin-bottom: 43px;
        font-size: 22px;
        line-height: 28px;
      }
    }
    .ButtonRound {
      margin: 0 !important;
    }
    .carousel-indicators {
      left: 0;
      margin: 0;
      display: inline-block;
      bottom: 123px;
      li {
        margin-top: 20px;
      }
    }
    .carousel-inner {
      max-width: calc(576px + 64px);
      margin: 0 auto;
    }
  }
}
