@import '../../global/global';

.HomeIssue {
  box-sizing: border-box;
  &__card {
    background-color: $white;
    padding: 0 15px 30px;
  }
  .readMore {
    text-decoration: underline;
    color: $darkBlue;
    text-align: center;
    display: block;
    @extend %font__normal--light;
  }
  .issueBlock {
    background-image: url(./images/bg.jpg);
    min-height: 592px;
    padding: 32px 32px 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .takeAction {
    background-color: $green;
    padding: 0 32px 30px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 48%;
      box-sizing: border-box;
      margin-bottom: 27px;
    }
  }

  .whatWeDo {
    background-color: $darkBlue;
    padding: 43px 32px 32px;
    &__title {
      text-transform: uppercase;
      color: $darkBlue;
      @extend %font__normal--regular;
      width: 160px;
      height: 40px;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 22px;
      font-size: 14px;
    }
    &__mission {
      font-size: 22px;
      text-align: center;
      margin-bottom: 50px;
      color: $white;
      @extend %font__normal--bold;
    }
    &__item {
      text-align: center;
      padding: 0 32px 32px;
      background-color: $white;
      &:not(:last-child) {
        margin-bottom: 65px;
      }
    }
    &__img {
      display: block;
      margin: 0 auto 3px;
      transform: translateY(-32px);
    }
  }
}
