@import '../../global/global';

.Navigation {
  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  a {
    @extend %font__normal--light;
    font-size: 14px;
    color: $darkBlue;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .Navigation {
    ul {
      display: flex;
      li {
        margin-right: 31px;
      }
    }
  }
}
