@import '../../global/global.scss';

.Logo {
  .BigTitle {
    font-size: 18px;
  }
}

.Logo--donatePage {
  text-align: center;
  padding: 20px auto;
}

@media (min-width: 1440px) {
  .Logo {
    .BigTitle {
      font-size: 22px;
      line-height: 28px;
    }
  }
}
