@import '../../global/global.scss';

.AboutIssue {
  padding: 32px;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green;
  .StopClimateChange {
    margin-bottom: 120px;
  }
  &__card {
    padding: 0 22px 22px;
    background-color: white;
  }
  .BigTitle {
    font-size: 22px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .AboutIssue {
    padding: 64px;
    background-image: url('./images/bg--tablet.jpg');
    .StopClimateChange {
      margin-bottom: 80px;
    }
    .RectangularTitle {
      margin-left: 0;
    }
    &__card {
      padding: 0 64px 64px;
    }
    .BigTitle {
      font-size: 28px;
      line-height: 36px;
      text-align: left;
    }
  }
}

@media (min-width: 1440px) {
  .AboutIssue {
    padding: 80px 160px;
    display: flex;
    justify-content: space-between;
    background-image: url('./images/bg--desktop.jpg');
    .PencilTitle {
      font-size: 72px;
      line-height: 76px;
    }
    .RectangularTitle {
      margin-bottom: 20px;
    }
    &__card {
      width: 50%;
      transform: translateY(140px);
    }
  }
}
