@import '../../global/global.scss';

.DonatePayment {
  padding: 0 0 56px;
  background-color: $darkBlue;
  &__wrap {
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px;
    margin-bottom: 32px;
  }
  &__thanks {
    color: $white;
    font-size: 22px;
    width: 60%;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1.2em;
  }
  .RectangularTitle {
    transform: translateY(0);
    margin-left: 32px;
  }
  &__card {
    background-color: $white;
    padding: 50px 32px 16px;
    margin-top: -20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2em;
    p {
      margin-bottom: 36px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        width: 48%;
        margin-bottom: 16px;
      }
      a {
        background-color: $green;
        border-radius: 100px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        box-sizing: border-box;
        height: 32px;
        font-weight: 300;
        font-size: 11px;
        text-transform: uppercase;
      }
      img {
        margin-right: 10px;
      }
    }
  }
  &__thanks2 {
    color: $white;
    padding: 0 32px;
    margin-bottom: 32px;
    a {
      color: $green;
      text-decoration: underline;
    }
  }
  .PencilTitle {
    padding: 0 32px;
  }
}

@media (min-width: 768px) {
  .DonatePayment {
    &__wrap {
      padding: 64px;
      margin-bottom: 64px;
    }
    &__thanks {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 50px;
      width: 70%;
    }
    &__card {
      padding: 64px;
      p {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
      }
      ul {
        li {
          width: 23%;
          height: 32px;
        }
      }
    }
    &__thanks2 {
      font-size: 16px;
      line-height: 24px;
      width: 48%;
      display: inline-block;
      margin-bottom: 0;
      padding-left: 64px;
    }
    .PencilTitle {
      width: 48%;
      display: inline-block;
      font-size: 32px;
      line-height: 46px;
      padding-right: 64px;
    }
  }
}

@media (min-width: 1440px) {
  .DonatePayment {
    padding-bottom: 120px;
    &__wrap {
      background-image: url('./images/bg--desktop.jpg');
      padding: 90px 160px;
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      margin-bottom: 112px;
    }
    &__thanks {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 0;
      width: 30%;
    }
    &__card {
      width: 50%;
      display: flex;
      justify-content: space-between;
      transform: none;
      p {
        font-size: 28px;
        line-height: 36px;
        width: 60%;
        margin-bottom: 0;
      }
      ul li {
        width: 100%;
        height: 40px;
        a {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      ul {
        width: 35%;
      }
    }
    &__socials {
      display: flex;
      flex-direction: column;
    }
    .RectangularTitle {
      position: absolute;
      right: 565px;
      top: 52px;
    }
    &__thanks2 {
      padding: 0 160px;
      transform: translateY(-25%);
    }
    .PencilTitle {
      padding: 0 160px;
      font-size: 44px;
      line-height: 46px;
    }
  }
}
