@import '../../global/global.scss';

.SliderAboutPage {
  padding: 64px 32px;
  background-color: $darkBlue;
  .PencilTitle {
    margin-bottom: 34px;
    text-align: center;
  }
  .RectangularTitle {
    @extend %RectangularTitle--white;
    transform: translateY(20px);
  }
  .SmallText {
    margin-bottom: 32px;
  }
  .descr__wrap {
    background-color: $darkBlue;
  }
  figcaption {
    padding: 36px 28px 32px;
    text-align: center;
    background-color: $white;
  }
  .BigTitle {
    margin-bottom: 22px;
  }
  img {
    width: 100%;
    display: block;
    min-height: 224px;
  }
  .Slider {
    margin-top: -20px;
  }
  .slick-prev {
    display: none !important;
  }
  .slick-next {
    background-color: $green;
    background-position: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 1;
    top: 122px;
    right: -20px;
    &:hover {
      background: $green;
    }
  }
  .slick-next:before {
    background-image: url('./images/arrowRight.svg');
    background-repeat: no-repeat;
    background-position: cover;
    background-position: 0;
    width: 30px;
    height: 30px;
    display: block;
    content: '';
    left: 50%;
    top: 50%;
    transform: translateX(25%);
    opacity: 1;
  }
  .slick-dots {
    margin-bottom: -16px;
    li {
      width: 13px;
      height: 13px;
      border: 1px solid $white;
      background-color: $white;
      border-radius: 50%;
      opacity: 1;
      button {
        &:before {
          display: none;
        }
      }
    }
    .slick-active {
      background-color: $darkBlue;
    }
  }
}

@media (min-width: 768px) {
  .SliderAboutPage {
    padding: 64px 0 64px 64px;
    .PencilTitle {
      padding-right: 192px;
      text-align: left;
      margin-bottom: 70px;
    }
    .slick-next {
      top: -100px;
      right: 64px;
      width: 64px;
      height: 64px;
      &:before {
        width: 33px;
        transform: translateX(16px);
        opacity: 1;
      }
    }
    .slick-slide {
      padding-right: 80px !important;
    }
  }
}

@media (min-width: 1440px) {
  .SliderAboutPage {
    padding: 160px 0 160px 128px;
    .PencilTitle {
      font-size: 72px;
      line-height: 76px;
      margin-bottom: 93px;
      padding-right: 300px;
    }
    .slick-next {
      top: -180px;
      right: 160px;
    }
    .RectangularTitle {
      margin-left: 64px;
    }
    figcaption {
      text-align: left;
      padding: 64px;
      .BigTitle {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 24px;
      }
      .SmallText {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
      }
      .ButtonRound {
        margin-left: 0 !important;
        height: 48px;
      }
    }
  }
}
