@import '../../global/global.scss';

.OurImpact {
  padding: 32px 32px 64px;
  background-color: $darkBlue;
  position: relative;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $darkBlue;
  .RectangularTitle {
    @extend %RectangularTitle--white;
    margin-bottom: 33px;
    transform: translateY(0);
  }
  &__title {
    @extend %font__normal--bold;
    font-size: 22px;
    line-height: 1.2em;
    color: $white;
    margin-bottom: 30px;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  dd {
    @extend %font__normal--bold;
    font-size: 16px;
    color: $white;
    line-height: 1.2em;
  }
}
@media (min-width: 768px) {
  .OurImpact {
    padding: 64px 64px 32px;
    background-image: url('./images/bg--Tablet.jpg');
    .RectangularTitle {
      margin-bottom: 34px;
    }
    &__title {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 67px;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 45%;
      margin-bottom: 57px;
      .PencilTitle {
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 16px;
      }
      dd {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .OurImpact {
    padding: 128px 160px 80px;
    background-image: url('./images/bg--desktop.jpg');
    .RectangularTitle {
      margin-bottom: 42px;
    }
    &__title {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 80px;
      padding: 0 20%;
    }
    &__list {
      display: flex;
      flex-direction: row;
    }
    &__item {
      margin: 0;
      width: 25%;
    }
    .PencilTitle {
      font-size: 72px;
      line-height: 76px;
      margin-bottom: 0;
    }
    dd {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
