@import '../../global/global.scss';

.DidYouKnow {
  padding: 64px 32px 32px;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .PencilTitle {
    margin-bottom: 18px;
  }
  .ButtonRound {
    font-size: 16px;
    width: 152px;
    height: 40px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 38px;
  }
  .RectangularTitle {
    transform: translateY(50%);
  }
  .didYouKnow {
    &__item {
      background-color: $white;
      padding: 24px 32px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &__socialIcon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $green;
      position: relative;
      min-width: 32px;
      margin-left: 20px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
    .socialIcon--twitter {
      background-image: url('./images/twitter.svg');
      background-size: 20px;
    }
    .socialIcon--facebook {
      background-image: url('./images/facebook.svg');
      background-size: 10px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .BigTitle {
        font-size: 22px;
      }
    }
  }
}

@media (min-width: 768px) {
  .DidYouKnow {
    background-image: url('./images/bg--tablet.jpg');
    padding: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 770px;
    .didYouKnow {
      &__socialIcon {
        margin-left: 64px;
      }
    }
    .PencilTitle {
      width: 25%;
      margin-bottom: 26px;
      margin-right: 10%;
    }
    .ButtonRound {
      width: 25%;
      margin: 0 !important;
      margin-bottom: auto;
    }
    .didYouKnow {
      width: 65%;
      &__list {
        margin-top: -40px;
      }
      .BigTitle {
        font-size: 36px;
      }
    }
    .RectangularTitle {
      transform: translateY(-50%);
    }
    &__row {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .DidYouKnow {
    background-image: url('./images/bg--desktop.jpg');
    padding: 128px 160px;
    max-height: 1400px;
    .PencilTitle {
      font-size: 72px;
      line-height: 76px;
      margin-bottom: 42px;
      width: 40%;
      margin-right: 5%;
    }
    .didYouKnow {
      width: 55%;
      &__socialIcon {
        width: 60px;
        height: 60px;
        margin-left: 10px;
      }
      &__item {
        padding: 64px;
      }
      &__row {
        .BigTitle {
          font-size: 55px;
          line-height: 56px;
          margin-bottom: 5px;
        }
        .SmallText {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .ButtonRound {
      width: 200px;
      height: 48px;
      font-size: 18px;
    }
  }
}
