@import '../../global/global.scss';

.Footer {
  padding: 67px 32px 55px;
  background-color: $white;
  .row1 {
    margin-bottom: 78px;
  }
  .row2 {
    margin-bottom: 58px;
  }
  .contactUs {
    box-sizing: border-box;
    width: 50%;
    a {
      display: block;
    }
  }
  .row ul {
    width: 50%;
    a {
      text-decoration: underline;
    }
  }
  .pencilTitleWrap {
    text-align: right;
  }
  .StopClimateChange {
    text-align: right;
    .PencilTitle {
      color: $darkBlue;
    }
  }
}

@media (min-width: 768px) {
  .Footer {
    padding: 64px;
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .StopClimateChange {
      margin-left: auto;
      transform: translateY(-75%);
    }
    .row1 {
      margin-bottom: 80px;
    }
    .row2 {
      margin-bottom: 0;
    }
    .row,
    .row {
      width: 66%;
      display: flex;
    }
  }
}
