@import '../../global/global.scss';

.StoriesOfOurWork {
  padding: 32px 32px 64px;
  background-color: $darkBlue;
  .PencilTitle {
    margin-bottom: 24px;
    font-size: 32px;
    color: $white;
    text-align: center;
  }
  &__buttonsList {
    margin-bottom: 32px;
    button {
      text-transform: uppercase;
      padding: 15px;
      background-color: transparent;
      border: none;
      color: $white;
      width: 100%;
      text-align-last: left;
    }
    .selectedButton {
      background-color: $green;
      color: $darkBlue;
    }
  }
  &__img1,
  &__img2,
  &__card {
    margin-bottom: 32px;
    width: 100%;
  }
  &__card {
    padding: 32px;
    background-color: $white;
    @extend %font__normal--bold;
    font-size: 18px;
    line-height: 1.2em;
  }
  .BigTitle {
    @extend %font__normal--bold;
    font-size: 28px;
    line-height: 1.2em;
    color: $white;
    margin-bottom: 26px;
  }
  &__text {
    margin-bottom: 25px;
    p {
      color: $white;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  .ButtonRound {
    width: 50%;
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .StoriesOfOurWork {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    padding: 64px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    .PencilTitle {
      font-size: 44px;
      line-height: 46px;
      margin-bottom: 33px;
      width: 48%;
    }
    &__buttonsList,
    .PencilTitle {
      width: 48%;
    }
  }
}

@media (min-width: 1440px) {
  .StoriesOfOurWork {
    padding: 78px 160px 128px;
    max-width: 100%;
    display: flex;

    .picture1 {
      grid-row: 1;
      grid-column: 1;
    }
    &__img2,
    &__img1 {
      margin-bottom: 0;
    }
    .PencilTitle {
      margin-bottom: 0;
      width: 20%;
      margin-left: auto;
      margin-right: auto;
    }
    article {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-template-rows: 100%;
      column-gap: 2%;
      picture {
        width: 100%;
      }
    }
    &__buttonsList {
      font-size: 16px;
      line-height: 30px;
      li {
        padding-right: 100px;
        button {
          padding-left: 64px;
        }
      }
    }
    .carImg__wrap {
      width: 100%;
    }
    &__text {
      width: 100%;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 32px;
      grid-row: 1;
      grid-column: 1;
      justify-self: end;
      // align-self: end;
      padding-top: 68%;
    }
    .BigTitle {
      margin-bottom: 0;
      font-size: 44px;
      line-height: 56px;
      width: 100%;
    }
    .ButtonRound {
      height: 48px;
      width: 200px;
    }
    &__card {
      padding: 64px;
      font-size: 28px;
      line-height: 36px;
    }
  }
}
