@import '../../global/global.scss';

.Donate1 {
  padding: 32px 32px 64px;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .PencilTitle {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 26px;
  }
  form {
    background-color: $darkBlue;
    padding: 30px 32px 62px;
  }

  .donateAmount {
    margin-bottom: 95px;
  }
  .title {
    font-size: 22px;
    color: $white;
    margin-bottom: 28px;
    text-align: center;
    @extend %font__normal--bold;
  }
  .donatePeriod {
    margin-bottom: 42px;
    .DonateCardItem__firstRow {
      font-size: 18px;
    }
  }

  .buttonsWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cancel-btn {
      color: $green;
      text-decoration: underline;
    }
    .ButtonRound {
      margin-right: 0 !important;
    }
  }
}

@media (min-width: 768px) {
  .Donate1 {
    padding: 64px;
    .PencilTitle {
      font-size: 44px;
      line-height: 46px;
      margin-bottom: 45px;
    }
    form {
      padding: 64px;
    }
    .title {
      text-align: left;
      font-size: 28px;
      margin-bottom: 24px;
    }
    &__list {
      b {
        width: 30%;
      }
    }
    .DonateCardItem {
      &__label {
        display: flex;
        align-items: center;
        padding: 35px 62px;
      }
      &__firstRow {
        margin: 0;
        margin-right: 27px;
        font-size: 60px;
      }
      &__checkmark {
        top: 50px;
        left: 40px;
      }
      .SmallText {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .donatePeriod {
      .DonateCardItem__firstRow {
        font-size: 22px;
        line-height: 28px;
      }
      .DonateCardItem .DonateCardItem__checkmark {
        top: 35px;
      }
      &__list {
        display: flex;
        li {
          width: 50%;
          white-space: nowrap;
        }
      }
      .DonateCardItem__label {
        border: 1px solid $white;
      }
    }
    .buttonsWrap {
      .cancel-btn {
        font-size: 16px;
      }
      .ButtonRound {
        width: 50%;
        height: 56px;
        font-size: 22px;
      }
    }
  }
}
