@import '../../global/global.scss';

.Donate1 {
  padding: 32px 32px 64px;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .PencilTitle {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 26px;
  }
  form {
    background-color: $darkBlue;
    padding: 30px 32px 62px;
  }

  .donateAmount {
    margin-bottom: 95px;
  }
  .title {
    font-size: 22px;
    color: $white;
    margin-bottom: 28px;
    text-align: center;
    @extend %font__normal--bold;
  }
  .donatePeriod {
    margin-bottom: 42px;
    .DonateCardItem__firstRow {
      font-size: 18px;
    }
  }

  .buttonsWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cancel-btn {
      color: $green;
      text-decoration: underline;
    }
    .ButtonRound {
      margin-right: 0 !important;
    }
  }
}
