@import '../../global/global.scss';

.OurTeam {
  padding: 32px 32px 0;
  background-color: $white;
  .RectangularTitle {
    margin-bottom: 30px;
    transform: translateY(0);
  }
  .BigTitle {
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
  }
  .SmallText {
    text-align: center;
    margin-bottom: 32px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 45%;
    margin-bottom: 32px;
    figcaption {
      padding: 16px;
      background-color: $darkBlue;
      color: $white;
      position: relative;
      z-index: 0;
    }
    img {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .OurTeam {
    padding: 64px 64px 30px;
    .RectangularTitle {
      margin-left: 0;
      margin-bottom: 32px;
    }
    .textWrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;
    }
    .BigTitle,
    .SmallText {
      width: 45%;
      text-align: left;
    }
    .BigTitle {
      font-size: 36px;
      line-height: 46px;
      margin: 0;
    }
    .SmallText {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &__item {
      margin-bottom: 15px;
      figcaption {
        transform: translateX(32px) translateY(-32px);
      }
    }
  }
}

@media (min-width: 1440px) {
  .OurTeam {
    padding: 128px 160px;
    .textWrap {
      margin-bottom: 91px;
    }
    .RectangularTitle {
      margin-bottom: 32px;
    }
    .BigTitle {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 0;
    }
    .SmallText {
      font-size: 20px;
      line-height: 30px;
    }
    &__item {
      width: 30%;
    }
  }
}
