@import '~bootstrap/scss/bootstrap';
@import './global/global';

body {
  margin: 0;
  padding: 0;
}
footer,
header,
body {
  @extend %font__normal--light;
  color: $darkBlue;
  font-size: 14px;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
dl,
dd {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

button {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.App {
}
